*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    width: 1440px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
#head {
    height: 600px;
    background: linear-gradient(to right,hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    border-radius: 0 0 0 80px;
    padding: 50px 150px;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    color: white;
}
#logo{
    background: url(images/logo.svg) no-repeat;
    width: 105px;
    height: 40px;
    background-size: contain;
}
nav{
    display: flex;
    color: white;
    justify-content: space-between;
}
#head-left{
    display: flex;
}
a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    opacity: .8;
}
a:hover{
    border-bottom: 1px solid white;
    opacity: 1;
}
.dropdown{
    margin: 15px 0 0 20px;
}
ul{
    text-align: left;
    background: white;
    color: hsl(207, 13%, 34%);
    list-style-type: none;
    border-radius: 5px;
}
li{
    padding: 5px;
}
h1{
    font-size: 60px;
    margin-bottom: 35px;
}
h4{
    margin-bottom: 50px;
    font-size: 20px;
    opacity: .8;
}
button{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    border: none;
}
.btnone{
    background: white;
    color: hsl(355, 100%, 74%);
}
.btnone:hover{
    background: hsl(355, 100%, 74%);
    color: white;
}
.btntwo{
    background: transparent;
    color: white;
    border: 1px solid white;
}
.btntwo:hover{
    background: white;
    color: hsl(355, 100%, 74%);
}
#intro{
    height: 1000px;
}
#main{
    height: 400px;
    background: linear-gradient(to left, hsl(237, 23%, 32%), hsl(237, 17%, 21%));
    border-radius: 0 80px 0 80px;
}
#about{
    height: 1000px;
}
#foot{
    height: 350px;
}